<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Insertar cuentahabiente</h1>
            <hr>
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" required name="name" placeholder="Nombre"
                [(ngModel)]="insert1.nombre" >
            <br>
            <label for="name">Apellido:</label>
            <input type="text" class="form-control" required name="apellido" placeholder="Apellido"
                [(ngModel)]="insert1.apellido" >
            <br>
            <label for="name">Cui:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.cui"
                >
            <br>
            <label for="name">Email:</label>
            <input type="email" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.email"
                >
            <br>
            <label for="name">fechaRegistro:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.fecharegistro"
                >
            <br>
            <label for="name">Genero:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.genero"
                >
            <br>
            <label for="name">InstitucionBancaria:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.institucionbancaria"
                >
            <br>
            <label for="name">AbreviacionInst:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.abreviacioninst"
                >
            <br>
            <label for="name">TipoCuenta:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.tipocuenta"
                >
            <br>
            <label for="name">SaldoInicial:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.saldoinicial"
                >
            <br>

        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h1>Insertar movimiento</h1>
            <hr>
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" required name="name" placeholder="Nombre"
                [(ngModel)]="insert1.nombre" >
            <br>
            <label for="name">Apellido:</label>
            <input type="text" class="form-control" required name="apellido" placeholder="Apellido"
                [(ngModel)]="insert1.apellido" >
            <br>
            <label for="name">Cui:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.cui"
                >
            <br>
            <label for="name">Email:</label>
            <input type="email" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.email"
                >
            <br>
            <label for="name">fechaRegistro:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.fecharegistro"
                >
            <br>
            <label for="name">Genero:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.genero"
                >
            <br>
            <label for="name">InstitucionBancaria:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.institucionbancaria"
                >
            <br>
            <label for="name">AbreviacionInst:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.abreviacioninst"
                >
            <br>
            <label for="name">TipoCuenta:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.tipocuenta"
                >
            <br>
            <label for="name">SaldoInicial:</label>
            <input type="text" class="form-control" required name="cui" placeholder="Cui" [(ngModel)]="insert1.saldoinicial"
                >
            <br>

        </div>
    </div>
</div>